
  
  .navbar {
    opacity: 70%;
    position:sticky ;
      box-shadow: 2px 2px 5px #000;
      background: #7F7FD5;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .navbar .nav-item .nav-link {
      color: #fff;
    }

    .team, footer {
        background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
      }

      .contenedor{
        display: flex;
        margin-top: 9%;
        margin-bottom: 4.25%;
        width: 60%;
        align-items: center;
        align-content: center;
      }

      .contacto{
        margin: 10px;

      }