body{
    background: #d8d8d8;
    background-attachment: fixed;
    font-Family: Arial;
  }
  
  .navbar {
    opacity: 70%;
    position:sticky ;
      box-shadow: 2px 2px 5px #000;
      background: #7F7FD5;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .team, footer {
        
        margin-top: 3%;
        background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
      }

    .navbar .nav-item .nav-link {
      color: #fff;
    }

    .titulo{

        background-color: rgb(255, 255, 255);
        width: 40%;
        margin: 1%;
        border-radius: 60px;
        border-style: solid;
        box-shadow: 0 2.5px 10px black;
    }

    .la{
      border-radius: 1rem;
      box-shadow: 0 10px 15px black;
    }

    .galeria{
        margin-bottom: 3%;
        display: flex;
        width: 70%;
        height: 450px;
        gap: 1rem;
    }

    .galeria img{
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        filter: brightness(50%);
        transition: 1.5s;
    }

    .galeria img:hover{
        width: 700px;
        opacity: 1;
        filter: brightness(90%);
    }

    .texto{
        font-size: 25px;
    }